@media (max-width: 1200px)
  .container
    max-width: 95%
  .flats
    text-align: center
    justify-content: space-between
  .flat
    width: 48%
  .flat img
    max-width: 100%
    height: auto
  .left
    margin-right: 15%
  .disclaimer
    margin-bottom: 20px
    padding-right: 0px
  .qna input
    max-width: 200px
  .qna .button
    max-width: 240px

  
@media (max-width: 960px)
  .container
    max-width: 90%
  .menu-icon
    display: inline-block
  .main-nav
    display: none
  .mobile-menu
    display: flex
    position: absolute
    background-color: #000
    width: 50%
    height: 100%
    right: 0
    top: 0
  .menu
    flex-direction: column
    justify-content: center
  .menu-item
    margin-bottom: 70px
  .state-open span:nth-child(1)
    top: 0
    width: 0
    left: 50%
  .state-open span:nth-child(2)
    top: 10px
    transform: rotate(45deg)
  .state-open span:nth-child(3)
    top: 10px
    transform: rotate(-45deg)
  .state-open span:nth-child(4)
    top: 0
    width: 0
    left: 50%
  .flats
    flex-direction: column
    align-items: center
    text-align: center
  .flat
    width: 90%
  .qna
    text-align: center
  .qna span
    display: none
  .qna input
    max-width: 40%
    margin-left: 5%
    margin-right: 5%
  .qna .button
    margin: auto
    margin-top: 4%

@media (max-width: 768px)
  .first-screen
    background-size: auto
  .container
    max-width: 90%
  .flat img
    max-width: 800px


// @media (max-width: 578px)
