@media (max-width: 1200px)
  .container
    max-width: 950px
  .flat img
    width: 450px
  .left
    margin-right: 15%
  .disclaimer
    margin-bottom: 20px
  .qna input
    padding: 20px 30px
  .qna .button
    padding: 20px
  
@media (max-width: 992px)


@media (max-width: 768px)


@media (max-width: 578px)
